body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

/* Репета сказал так надо! */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* a::before {
  content: "♥️";
  color: brown;
} */

/* .envelope::before {
  content: url(../images/envelope.svg);
  vertical-align: middle;
  margin-right: 10px;
}
.envelope:hover.envelope::before,
.envelope:focus.envelope::before {
  content: url(../images/envelope_hover.svg);
}
.smartphone::before {
  content: url(../images/smartphone.svg);
  vertical-align: middle;
  margin-right: 10px;
}
.smartphone:hover.smartphone::before,
.smartphone:focus.smartphone::before {
  content: url(../images/smartphone_hover.svg);
} */
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Сброс стилей / Reset styles */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
a {
  color: currentColor;
}
/* убирает рамку при TAB */
a:focus,
button:focus,
.modal-input,
.modal-text,
.footer-input {
  outline: currentColor;
}

/* Рука-указатель */
button {
  cursor: pointer;
}

/* Переменные: цвета и прочее */
:root {
  --main-color: #212121;
  --highlight-color: #2196f3;
  --header-link-color: #757575;
  --main-tittle-color: #ffffff;
  --main-background-color: #2f303a;
  --description-text-color: #757575;
  --job-title-color: #757575;
  --footer-background-color: #2f303a;
  --footer-contact-color: #ffffff;
  --portfolio-speciality-color: #757575;
  --typical-margin: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container,
.header-nav,
.header-list {
  display: flex;
  align-items: center;
}

.contacts-header {
  display: flex;
  margin-left: auto;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.header-logo-first,
.footer-logo-first {
  color: #2196f3;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* ПОДЧЕРКИВАНИЕ */

.header-item-link {
  color: var(--main-color);
  margin-top: 4px;
  position: relative; /*!!!!!!!!!!!!! ЕСЛИ НЕТ - ТО ФИГУРА
  ПОЗИЦИОНИРУЕТСЯ ОТНОСИТЕЛЬНО ДОКУМЕНТА 
  при position: absolute; !!!!!!!!!!!!!!!*/

  transition: color 250ms var(--timing-function);
}
.stream::after {
  content: "";
  position: absolute;
  bottom: -32.5px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 4px;
  background-color: #2196f3;
}
.contact-item:not(:first-child) {
  margin-left: 30px;
}
.header-link {
  transition: color 250ms var(--timing-function);
  display: flex;
  align-items: center;
}

.header-item-link:hover,
.header-item-link:focus,
.header-link:hover,
.header-link:focus,
.contact-e:hover,
.contact-e:focus,
.contact:hover,
.contact:focus {
  color: var(--highlight-color);
}
.header-item-link:active,
.header-link:active,
.contact-e:active,
.contact:active {
  color: #ffa500;
}

/* main */

.main-box {
  background: #2f303a;
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: var(--main-tittle-color);
  background: var(--highlight-color);
  /* выровнять кнопку по центру */
  margin: 0 auto;
  display: block;
  /* выровнять кнопку по центру */
  min-width: 200px;
  height: 50px;

  transition: box-shadow 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.main-btn:hover,
.main-btn:focus,
.footer-btn:hover,
.footer-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* прячем заголовок от пользователя, Google  видит заголовок */

h2[class="visually-hidden"],
h1[class="visually-hidden"] {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.details {
  padding: 94px 0;
}
.description-list {
  display: flex;
}

.description-pre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.description-li {
  width: 270px;
  margin-right: var(--typical-margin);
}
.description-li:last-child {
  margin-right: 0;
}
.team-works {
  padding-bottom: 94px;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}
.team-li {
  position: relative;
  display: flex;
}

.team-li:not(:last-child) {
  margin-right: var(--typical-margin);
}
.team-profile {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-tittle-color);
}
.section-team {
  background: #f5f4fa;
  padding: 94px 0;
}

.wrap-list {
  display: flex;
}
.warp-item {
  width: 270px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.warp-item:not(:last-child) {
  margin-right: var(--typical-margin);
}
.div-warp {
  padding: 30px 0;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-color);
  margin-bottom: 10px;
}
.job-title {
  font-size: 16px;
  line-height: 1.19;
  color: var(--job-title-color);
  margin-bottom: 16px;
}

/* soc-icon */

.soc-list {
  display: flex;
  justify-content: center;
}
.soc-item {
  margin-left: 10px;
}
.soc-item:first-child {
  margin-left: 0;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: #afb1b8;
  fill: #afb1b8;

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.soc-icon {
  color: currentColor;
}

.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.section-clients {
  padding: 94px 0;
}
.clients {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* --ICONS-- */

.clients-list {
  display: flex;
}
.clients-item:not(:last-child) {
  margin-right: var(--typical-margin);
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  fill: #afb1b8;

  transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.client-icon {
  color: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--highlight-color);
  fill: var(--highlight-color);
}

/* --footer-- */
.footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer .container {
  display: flex;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.div-footer-logo {
  margin-bottom: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts {
  background: var(--footer-background-color);
  font-style: normal;
}
.contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);

  transition: color 250ms var(--timing-function);
}
.contact-e {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--timing-function);
}
/* --NEW-- */
.footer-contacts {
  margin-left: 70px;
  padding-top: 12px;
}
.footer-invite {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  fill: #ffffff;

  transition: background-color 250ms var(--timing-function);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
}

/* --- MAILING LIST FOOTER --- */

.mailing-list {
  margin-left: 93px;
  margin-top: 12px;
  display: block;
}
.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-contact-color);
  margin-bottom: 20px;
}
.mailing {
  display: flex;
}
.footer-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--footer-contact-color);
  margin-right: 12px;

  transition: border-color 250ms var(--timing-function);
}

.footer-input:hover,
.footer-input:focus {
  border-color: var(--highlight-color);
}

.footer-btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--main-tittle-color);
  fill: var(--footer-contact-color);
  background: var(--highlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: box-shadow 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.footer-icon {
  margin-left: 10px;
}

/* ---- МОДАЛЬНОЕ ОКНО ---- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  transition: 250ms var(--timing-function);
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close-btn:hover .modal-icon {
  fill: var(--highlight-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* модальное окно не скролится */
/* .no-scroll {
  overflow: hidden;
} */

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-label {
  position: relative;
  display: flex;
  margin-bottom: 28px;
}
.modal-label:focus-within > .modal-input,
.modal-label:focus-within > .modal-text,
.modal-label:focus-within {
  fill: var(--highlight-color);
  border-color: var(--highlight-color);
}

.modal-span {
  position: absolute;
  left: 0;
  top: -18px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--description-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;

  transition: border-color 250ms var(--timing-function);
}

/* ///// подсветка строк при заполнении ///// */
.modal-input:placeholder-shown {
  background-color: transparent;
}
.modal-input:not(:placeholder-shown):not(:focus):valid {
  background-color: rgba(108, 255, 186, 0.493);
}
.modal-input:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgba(255, 91, 91, 0.856);
}

.modal-svg {
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  background-color: transparent;
  padding: 12px 16px;

  transition: border-color 250ms var(--timing-function);
}

.policy-center {
  display: flex;
  justify-content: center;
}
.check-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}

.icon-box {
  position: absolute;
  opacity: 1;
  transition: opacity 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.icon-check {
  margin-right: 7px;
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}
/* ---прячем и убираем из потока--- */
.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-box:checked + .icon-box {
  opacity: 0;
}
.check-box:checked ~ .icon-check {
  opacity: 1;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px; */
}

.privacy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--highlight-color);
}

/* Портфолио */

.section-potfolio {
  padding: 94px 0;
}

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  box-sizing: border-box;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  height: 38px;
  padding: 6px 22px;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-btn-list {
  text-align: center;
  margin-bottom: 50px;
}
ul.portfolio-btn-list li {
  display: inline-block;
}

.img-portfolio {
  display: block;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}
.services-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.services-item:nth-child(3n) {
  margin-right: 0;
}
.services-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* Выезжающий текст */

.services-item:hover .services-item-text,
.service-link:focus .services-item-text {
  transform: translateY(0);
}
.services-item-wrap {
  position: relative;
  overflow: hidden;
}
.services-item-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-tittle-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  /* overflow: auto; */
  transform: translateY(101%);

  transition: transform 250ms var(--timing-function);
}
/* Scroolbar */
/* .services-item-text::-webkit-scrollbar {
  width: 5px;
}
.services-item-text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.services-item-text::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */
.service-link {
  display: flex;
  flex-direction: column;

  transition: box-shadow 250ms var(--timing-function);
}
.service-link:hover,
.service-link:focus {
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.div-services {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.review {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.speciality {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--portfolio-speciality-color);
}
