/* footer */
.footer {
  background: var(--footer-background-color);
  padding: 60px 0;
}
.footer .container {
  display: flex;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}

.div-footer-logo {
  margin-bottom: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts {
  background: var(--footer-background-color);
  font-style: normal;
}
.contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);

  transition: color 250ms var(--timing-function);
}
.contact-e {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--timing-function);
}
/* --NEW-- */
.footer-contacts {
  margin-left: 70px;
  padding-top: 12px;
}
.footer-invite {
  text-transform: uppercase;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
}
.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--footer-contact-color);
  fill: var(--footer-contact-color);

  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--highlight-color);
  }
}

/* --- MAILING LIST FOOTER --- */

.mailing-list {
  margin-left: 93px;
  margin-top: 12px;
  display: block;
}
.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-contact-color);
  margin-bottom: 20px;
}
.mailing {
  display: flex;
}
.footer-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--footer-contact-color);
  margin-right: 12px;

  transition: border-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    border-color: var(--highlight-color);
  }
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--footer-contact-color);
  // border: none;
}
.footer-icon {
  margin-left: 10px;
}
