/* main */

.main-box {
  background: var(--footer-background-color);
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-tittle-color);
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: var(--main-tittle-color);
  background: var(--highlight-color);
  /* выровнять кнопку по центру */
  margin: 0 auto;
  display: block;
  /* выровнять кнопку по центру */
  min-width: 200px;
  height: 50px;

  transition: box-shadow 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.main-btn:hover,
.main-btn:focus,
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--highlight-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}