.section-team {
  background: var(--description-background-color);
  padding: 94px 0;
}

.wrap-list {
  display: flex;
}
.warp-item {
  width: 270px;
  text-align: center;
  background: var(--main-tittle-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.warp-item:not(:last-child) {
  margin-right: var(--typical-margin);
}
.div-warp {
  padding: 30px 0;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-color);
  margin-bottom: 10px;
}
.job-title {
  font-size: 16px;
  line-height: 1.19;
  color: var(--job-title-color);
  margin-bottom: 16px;
}

/* soc-icon */

.soc-list {
  display: flex;
  justify-content: center;
}
.soc-item {
  margin-left: 10px;
}
.soc-item:first-child {
  margin-left: 0;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: var(--soc-icon-color);
  fill: var(--soc-icon-color);

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.soc-icon {
  color: currentColor;
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--highlight-color);
  fill: var(--main-tittle-color);
}

